/* CSS for Index Page */

body {
  font-family: "Microsoft YaHei", SimSun, Gotham, Helvetica, Arial, sans-serif;
  font-size: 200%;
  color: #58595B;
  margin: 0px auto;
  padding: 30px;
  background: #f7f7f7;
  text-align: center;}

h1 {
   text-transform: uppercase;}

h2 {
   text-transform: uppercase;}

a {
  color: #00ab95;
  text-decoration: none;}

a:hover {
  color: #ed6c7b;}
  
ol {
  display:table;
  margin: 0px;
  padding: 0px;
  margin-left: auto;
  margin-right: auto;
  list-style-position: inside;}
 
li {
  border-radius: 3px;
  background-color: #fff;
  padding: 10px;
  margin-bottom: 3px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;}

table {
  padding: 0px;
  margin-left:auto; 
  margin-right:auto;}

td {
  border-radius: 3px;
  background-color: #fff;
  padding: 10px;
  margin-bottom: 3px;
  text-align: left;}
  
 footer {
  font-size: 73%;
  text-align: center;}